*__pycache__*
*temp*
data
weights
output
preprocess/bin/foldseek
preprocess/unimol_mol_repr_demo.ipynb
preprocess/*.ipynb
preprocess/molclr
*.pkl
*old*
.vscode
*cggm*

script/*
!/script/momedta.py

src/configuration/*
!/src/configuration/momedta.yaml

src/dataset/*
!/src/dataset/__init__.py
!/src/dataset/dataset.py
!/src/dataset/peratomemb.py

src/model/*
!/src/model/__init__.py
!/src/model/basics.py
!/src/model/fusion.py
!/src/model/mgraph.py
!/src/model/momedta.py

src/module/criterion

src/utils/scheduler.py

deepspeed*

analysis/*
!/analysis/case.ipynb
!/analysis/logit_vs_gt.ipynb
!/analysis/weight_stability.ipynb
!/analysis/ablation.ipynb
!/analysis/att_map.ipynb
!/analysis/moe_weight.ipynb
!/analysis/af3_pocket.ipynb
!/analysis/data_analysis*.ipynb