*__pycache__*
*temp*
data
weights
output
preprocess/bin/foldseek
preprocess/unimol_mol_repr_demo.ipynb
preprocess/*.ipynb
preprocess/molclr
*.pkl
*old*
.vscode
*cggm*

/analysis/*
!/analysis/case.ipynb
!/analysis/logit_vs_gt.ipynb
!/analysis/weight_stability.ipynb
!/analysis/ablation.ipynb
!/analysis/att_map.ipynb
!/analysis/moe_weight.ipynb
!/analysis/af3_pocket.ipynb
!/analysis/data_analysis*.ipynb