*__pycache__*
*temp*
data
weights
output

preprocess/bin/foldseek
preprocess/*.ipynb
preprocess/molclr
preprocess/step2.1.py
preprocess/molclr_rep.py
preprocess/gearnet_rep.py
preprocess/load_pretrain.py
preprocess/mmsg.py

*.pkl
*old*
.vscode
*cggm*

script/*
!/script/momedta.py

src/configuration/*
!/src/configuration/momedta.yaml

src/dataset/finetune.py
src/dataset/perseqemb.py
src/dataset/rawseq.py

src/model/*
!/src/model/__init__.py
!/src/model/basics.py
!/src/model/fusion.py
!/src/model/mgraph.py
!/src/model/momedta.py

src/module/criterion

src/utils/scheduler.py

deepspeed*

analysis/*
!/analysis/case.ipynb
!/analysis/logit_vs_gt.ipynb
!/analysis/weight_stability.ipynb
!/analysis/ablation.ipynb
!/analysis/att_map.ipynb
!/analysis/moe_weight.ipynb
!/analysis/af3_pocket.ipynb
!/analysis/data_analysis*.ipynb